body {
    overflow-x: hidden !important;
    overflow: auto !important;
}

.discord {
    width: 21x;
    height: 21px;
    object-fit: cover;
    background-color: #454FBF;
    border-color: #454FBF;  
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 6px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 12px;
}

.head {
    min-height: var(--header-height);
}

.disclaimer {
    text-align: center;
    width: 65%;
    margin: auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
}

.disclaimer h1 {
    color: white;
    font-size: 64px;
    margin: 16px;
}

.disclaimer p {
    margin: 0 auto;
    width: 65%;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.7);
}

.profile {
    margin: 48px auto 16px auto;
    background-color: rgba(200, 200, 200, 0.8);
    border-radius: 16px;
    display: inline-block;
    background-image: url(/assets/i/dirt.png);
    background-size: cover;
    background-repeat: no-repeat;
    transition: .3s;
    background-size: 100%;
}

.profile:hover {
    transform: scale(1.05);
    background-image: url(/assets/i/grass.png);
    background-size: 100%;
}

.profile:hover .pfp-img {
    transform: scale(1.05);
    background-image: url(/assets/i/loony2.png);
    
}

.p-overlay {
    padding: 16px;
    border-radius: 16px;
    background-color: rgba(50, 50, 50, 0.35);
}

.info p {
    color: white;
    margin: 8px auto;
    font-size: 16px;
    font-weight: bold;
    word-break: break-word;
    margin-top: 16px;
    width: 90%;
}

.profile-buttons {
    margin: 8px;
}

.pfp-img {
    margin: auto;
    width: 94px;
    height: 94px;
    background-image: url(/assets/i/loony.png);
    background-size: 94px;
    background-color: var(--raisin-black);
    border-radius: 50%;
    border: 3px solid var(--magenta-pantone);
    transition: .3s ease;
}

.coffee {
    padding: 0;
    border: none;
    background: none;
    box-shadow: none;
    margin: 8px auto;
}

input.coffee {
    cursor: pointer;
}

form.p {
    margin: 0;
}

.st-top {
    display: none;
}

.geo {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin: 128px auto;
}

.geo h1 {
    font-size: 32px;
    color: white;
    margin: 8px;
}

.loonyguesser {
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    width: 50%;
    margin: 256px auto 64px auto;
}