:root {
    --raisin-black: #1e1f29;
    --raisin-black-2: #1a1b23;
    --baby-powder: #fefcf9;
    --magenta-pantone: #de3982;
    --rgb-raisin-black: rgba(30, 31, 41, 1);
    --rgb-raisin-black-2: rgba(26, 27, 35, .6);
    --rgb-baby-powder: rgba(254, 252, 249, 1);
    --rgb-magenta-pantone: rgba(222, 57, 130, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap%27');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color: var(--raisin-black);
    overflow: hidden;
    -webkit-touch-callout: none; 
    -webkit-user-select: none; 
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.container {
    width: 75%;
    margin: auto;
}

.nav {
    overflow: hidden;
    transition: max-height 3s;
    max-height: 1000px;
}

.nav.hidden {
    max-height: 0;
    transition: max-height 3s cubic-bezier(0, 1, 0, 1);
}

.flexbox-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flexbox-nav ul {
    display: flex;
    align-items: center;
}

.nav li {
    text-decoration: none;
    display: flex;
}

.nav li a {
    height: 75px;
    width: auto;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.brand p {
    font-family: 'Orbitron', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background: linear-gradient(90deg, var(--magenta-pantone), var(--baby-powder));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin-left: 87px;
    transition: .3s ease;
}

div.brand {
    display: flex;
    align-items: center;
    height: 75px;
    width: 75px;
    margin: 4px;
    border-radius: 50%;
    background-image: url(/assets/i/loony.png);
    background-size: 75px;
    transition: .3s ease;
}

.brand:hover {
    background-image: url(/assets/i/loony2.png);
    transform: scale(1.05);
}

.nav-btns {
    display: flex;
    align-items: center;
    height: 75px;
}

form {
    margin: 32px;
    display: flex;
}

input {
    appearance: button;
    -webkit-appearance: button;
    display: flex;
    align-items: center;
    border: 2px solid var(--magenta-pantone);
    border-radius: 32px;
    padding: 8px 16px;
    background-color: var(--magenta-pantone);
    color: var(--baby-powder);
    box-shadow: 4px 4px 4px black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    object-fit: cover;
    margin: auto;
}

input.donate {
    padding-left: 36px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-image: url(/assets/i/paypal.png);
}

input:hover {
    transform: scale(1.05);
}

input:active {
    transform: scale(0.95);
}

input p {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: var(--rgb-raisin-black-2);
}

.discord {
    width: 21x;
    height: 21px;
    object-fit: cover;
    background-color: #454FBF;
    border-color: #454FBF;  
}

.full-screen {
    width: 100%;
    height: 100vh;
    margin: auto;
}

.center {
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.message {
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: .3s;
}

.message.inactive {
    opacity: 0;
    transition: .3s;
}

.center.inactive {
    display: none;
}

.content {
    display: none;
    text-align: center;
    width: 100%;
    height: 100vh;
}

.content.active {
    display: block;
}

.screenshot img {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#screenshot {
    opacity: 0;
    transition: opacity .3s;
}

#screenshot.active {
    opacity: 1;
    transition: opacity .3s;
}

.controls {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.controls button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 8px;
}

.controls button img {
    padding: 0;
    margin: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    transition: .2s;
}

.controls button img:hover {
    transform: scale(1.05);
}

.controls button img:active {
    transform: scale(0.95);
}

.hotbar {
    width: 100%;
    background-color: var(--raisin-black-2);
    height: 20px;
    z-index: 2;
    position: absolute;
    top: 0;
}

.timer {
    background-color: var(--raisin-black-2);
    margin: auto;
    text-align: center;
    display: inline-block;
    border-radius: 50% 50% 50% 50% / 27% 27% 73% 73%;
}

.stopwatch {
    margin: 10px 40px;
    color: white;
    display: inline-block;
}

.stopwatch.overtime {
    color: red;
}

.picker {
    bottom: 0;
    right: 0;
    position: absolute;
}

#map-holder {
    cursor: grab;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border: 3px solid rgba(25, 25, 25, 0.7);
    border-radius: 16px;
    transition: .3s;
    background-color: var(--raisin-black-2);
}

#map-holder:hover {
    width: 600px;
    height: 600px;
}

#map {
    position: relative;
    z-index: 0;
    height: 1000px;
    width: 1000px;
}

.tooltip {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px 12px 0 0;
    transition: .6s;
    pointer-events: none;
}

#map-holder:hover .tooltip, #map-holder:hover .submit-btn {
    opacity: 1;
}

.tooltip img, .tooltip p {
    margin: 8px 0;
    color: rgba(220, 220, 220, 0.8);
    font-weight: bold;
}

.submit-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 99;
    transition: .6s;
    opacity: 0;
}

.submit-btn button {
    margin: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    background-color: rgba(50, 250, 50, 0.9);
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.submit-btn button:hover {
    background-color: rgba(75, 225, 75, 0.8);
}

.submit-btn button:active {
    transform: scale(0.95);
    background-color: rgba(100, 200, 100, 0.8);
}

.marker {
    z-index: 1000;
    margin-top: -1004px;  
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

.marker.active {
    opacity: 1;
}

.mark img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 2px;
}

.mark {
    background-color: rgba(200, 200, 200, 0.7);
    border-radius: 50%;
    margin: 3px;
}

#endscreen {
    display: none;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;
}

#endscreen.active {
    display: block;
}

.end-map {
    opacity: 0;
    transform: translateX(25px);
    transition: .3s;
}

.end-map.active {
    opacity: 1;
    transform: translateX(0);
    transition: .3s;
}

.end-map {
    width: 600px;
    margin: auto;
    height: 400px;
    overflow: hidden;
    border: 3px solid black;
    transition: .3s;
    background-color: var(--raisin-black-2);
    cursor: grab;
}

#end-map {
    position: relative;
    z-index: 0;
    width: 1000px;
    height: 1000px;
}

.endscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#end-marker {
    z-index: 1000;
    margin-top: -1004px;  
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

#end-marker.active {
    opacity: 1;
}

.end-mark img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 2px;
}

.end-mark {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 50%;
    margin: 3px;
}

.end-location {
    z-index: 1000;
    margin-top: -1004px;
    position: absolute;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: .3s;
    pointer-events: none;
}

.end-location.active {
    opacity: 1;
}

.end-pin {
    background-color: rgba(200, 200, 200, 0.4);
    border-radius: 50%;
    margin: 3px;
}

.end-pin img {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    margin: 2px;
}

.score {
    opacity: 0;
    transform: translateX(25px);
    transition: .3s;
    transition-delay: .3s;
    font-weight: 300;
    font-family: 'Orbitron', 'Ubuntu', sans-serif;
}

.score.active {
    opacity: 1;
    transform: translateX(0);
    transition: .3s;
}

.score h1 {
    font-weight: 300;
    font-size: 32px;
}

.score h2 {
    font-weight: 300;
}

span.distance {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 4px;
    border-radius: 8px;
    font-weight: bold;
}

.score h3 {
    letter-spacing: 2px;
    color: rgba(100, 250, 100, 0.8);
}

progress[value] {
    -webkit-appearance: none;
    appearance: none;
    width: 500px;
    height: 20px;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, rgba(250, 100, 100, 0.8), rgba(200, 200, 100, 0.8), rgba(100, 250, 100, 0.9));
    border-radius: 8px; 
    background-size: 500px 100%;
}

.next {
    opacity: 0;
    transform: translateX(25px);
    transition: .3s;
}

.next.active {
    opacity: 1;
    transform: translateX(0);
}

.next-btn {
    margin: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 16px;
    background-color: rgba(50, 250, 50, 0.9);
    color: white;
    font-weight: bold;
    font-size: 22px;
    cursor: pointer;
    transition: .3s;
}

.next-btn:hover {
    background-color: rgba(75, 225, 75, 0.8);
}

.next-btn:active {
    transform: scale(0.95);
    background-color: rgba(100, 200, 100, 0.8);
}

#results {
    display: none;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: white;
}

#results.active {
    display: block;
}

#stats {
    opacity: 0;
    transform: translateX(25px);
    transition: .3s;
    color: white;
}

#stats.active {
    opacity: 1;
    transform: translateX(0);
}

#high, #highbroke {
    display: none;
}

#high.active, #highbroke.active {
    display: block;
}

.highscore {
    color: rgba(75, 225, 75, 0.8);
    font-size: 25px;
    font-weight: bold;
}

.total {
    background-color:rgba(0, 0, 0, 0.4);
    font-weight: bold;
    padding: 4px;
    border-radius: 8px;
}

#stats h1 {
    font-size: 42px;
}

#stats h1, #stats h2 {
    margin: 48px 0;
}

#highscore {
    color: rgba(75, 225, 75, 0.8);
    font-size: 25px;
    font-weight: bold;
}

.newGame {
    appearance: button;
    padding: 8px 16px;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgba(75, 200, 100, 0.9);
    text-decoration: none;
    border-radius: 16px;
    color: white;
    transition: .3s;
}

.newGame:hover {
    transform: scale(1.05);
    background-color: rgba(100, 150, 100, 0.9);
}

#full-i {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 8px;
    opacity: 0;
    transition: .3s;
}

#full-i p {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
}

#full-i.active {
    opacity: 1;
}

canvas {
    height: 100vh;
    pointer-events: none;
}

#notification {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 99;
    margin-top: 64px;
    transform: translateY(-156px);
    transition: .7s ease-in-out;
}

#notif-template {
    display: none;
}

#notification.active {
    transform: translateY(0);
}

.notif {
    margin: auto;
    display: inline-flex;
    border-radius: 64px;
    height: 64px;
    background-color: var(--raisin-black);
    border: 3px solid var(--magenta-pantone);
}

.notif-body {
    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    transition: margin .7s ease-in-out, max-width .7s ease-in-out;
}

.notif-body.inactive {
    max-width: max-content;
}

.notif-body.prepare {
    max-width: 0;
    margin: 0;
}

.notif-body.active {
    margin: 0 20px 0 0;
    max-width: var(--max-width-notif);
}

.notif-body p {
    margin: 0;
}

.notif-icon {
    background-color: var(--raisin-black);
    border-radius: 64px;
}

.notif-icon img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
    padding: 0;
}

.notif-title {
    color: rgba(255, 255, 255, 0.9);
    font-weight: bold;
    margin-bottom: 8px;
}

.notif-text {
    color: rgba(255, 255, 255, 0.7);
}