:root {
    --raisin-black: #1e1f29ff;
    --raisin-black-2: #1a1b23ff;
    --baby-powder: #fefcf9ff;
    --magenta-pantone: #de3982ff;
    --rgb-raisin-black: rgba(30, 31, 41, 1);
    --rgb-raisin-black-2: rgba(26, 27, 35, .6);
    --rgb-baby-powder: rgba(254, 252, 249, 1);
    --rgb-magenta-pantone: rgba(222, 57, 130, 1);
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap%27');

body {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    background-color: var(--raisin-black);
    overflow: hidden;
}

.container {
    width: 75%;
    margin: auto;
}

.flexbox-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.flexbox-nav ul {
    display: flex;
    align-items: center;
}

.nav li {
    text-decoration: none;
    display: inline;
}

.nav li a {
    height: 75px;
    width: auto;
    text-decoration: none;
}

.brand p {
    font-family: 'Orbitron', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 36px;
    margin: 0;
    background: linear-gradient(90deg, var(--magenta-pantone), var(--baby-powder));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

img.brand {
    height: 75px;
    width: auto;
    border-radius: 50%;
}

form {
    margin: 32px;
}

input {
    appearance: button;
    -webkit-appearance: button;
    display: flex;
    align-items: center;
    border: 2px solid var(--magenta-pantone);
    border-radius: 32px;
    padding: 8px 16px;
    background-color: var(--magenta-pantone);
    color: var(--baby-powder);
    box-shadow: 4px 4px 4px black;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: .3s ease;
    margin: auto;
}

input.donate {
    padding-left: 36px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: 4px center;
    background-image: url(/assets/i/paypal.png);
}

input:hover {
    transform: scale(1.05);
}

input:active {
    transform: scale(0.95);
}

input p {
    padding: 0;
    margin: 0;
}

.nav {
    background-color: var(--rgb-raisin-black-2);
}

.list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: var(--header-height);
}

.list-item {
    width: calc(100% / 3);
}

.list-card {
    margin: 16px;
    background-color: var(--raisin-black-2);
    border-radius: 10%;
    box-shadow: 5px 5px 5px black;
    transition: .3s;
}

.list-card:hover {
    transform: scale(1.01);
}

.list-card img {
    border-radius: 10% 10% 0 0;
    height: 200px;
    width: 100%;
    object-fit: none;
    margin: auto;
    -webkit-mask-image: linear-gradient(to bottom, var(--raisin-black-2) 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, var(--raisin-black-2) 50%, transparent 100%);
}

.card-img { 
    margin: auto;
    text-align: center;
}

.card-content {
    margin: auto;
    text-align: center;
    color: var(--baby-powder);
    padding: 8px 16px;
}

.card-content h4 {
    font-size: 24px;
    font-weight: bold;
}

.card-content button {
    margin: 32px auto;
}

form.n {
    display: inline-block;
    margin: 0 16px;
}

.buttons {
    position: absolute;
    left: 0;
    bottom: 0;
}

.buttons button {
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 8px;
    background: none;
}

.buttons button img {
    background: none;
    padding: 0;
    margin: 0;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    transition: .3s;
}

.controls button img:hover {
    transform: scale(1.05);
}

.controls button img:active {
    transform: scale(0.95);
}

.gallery {
    display: flex;
    position: absolute;
}

.gallery img {
    height: auto;
    width: 100%;
    transition: 2.3s ease-in-out;
}

.gallery img.scrollLeft {
    margin-left: -100%;
}

.gallery-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
}